NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://gymtrack_app:CAMBIAR_ESTA_CLAVE@localhost:5432/gymtrack
DATABASE_SSL=false
SESSION_SECRET=CAMBIAR_POR_UNA_FRASE_LARGA_ALEATORIA_DE_32_CARACTERES_O_MAS
APP_ORIGIN=http://localhost:3000
MAX_UPLOAD_MB=5
